 
 *{
 margin: 0;
 padding: 0;


  }
 
  Body{
    background-color: rgb(180, 178, 176);
  }
  
  nav{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
  }

  nav ul li{
    padding: 0 12px;
  }
  
  .brand img{
    width: 48px;
    padding: 0 8px;
  }

.brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 100vh;
  background-color:black ;
  color: white;
  font-family: "Jost", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 21px;
  background-image: url(./Asset/2.jpg);

}

.bottom {
  position: sticky;
  height: 120px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.icon{
margin: 12px 0;
}

.icon i {
  cursor: pointer;
}

#myProgressBar{
  width: 80vw;
  cursor: pointer;
}

.songItemContainer{
  margin: 12px;
}

.songItem {
height: 40px;
display: flex;
background-color: white;
color: black; 
margin: 12px 0;
justify-content: space-between;
align-items: center;
padding: 10px;
border-radius: 34px; 
}

.songItem img {
  height: 50px;
  width: 43px;
  margin: 0 24px;
border-radius: 100px;
}

.timestamp{
  margin: 0 44px;
}
.timestamp i {
  cursor: pointer;
}

.SongInfo {
position: absolute;
left: 10vw;
display: flex;
}
.SongInfo span {
  margin: 35px 0 ;
  font-family: "Varela Round", sans-serif;
}

.SongInfo img {
  margin: 20px;
  opacity: 0;
  transition: opacity 0.4s ease-in;

}

@media only screen and (max-width: 1100px) {
  body {
    background-color: rgb(196, 165, 165);
  }
}





